@import '../../styles/colors.scss';

.user {
  border: 2px solid $primary-green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.user input {
  font-size: 1em;
  height: 25px;
  margin: 5px;
}

.user h4 {
  padding: 0px;
  margin: 0px;
}

.user button {
  font-size: 1em;
  height: 25px;
  margin: 10px 0;
}
