@import '../../styles/colors.scss';

.user {
  border: 2px solid $primary-green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.user input {
  // background-color: transparent;
  // border-radius: 10px;
  // border: 2px solid #9BC47e;
  // color: #D97426;
  font-size: 1em;
  height: 25px;
  // margin: 20px 10px;
  // width: 50%;
  // text-align: center;
  // outline: none;
  margin: 5px;
}

.user h4 {
  padding: 0px;
  margin: 0px; !important
}

#name {
  align-self: flex-start;
}

#password {
  align-self: flex-start;
}

#submit {
  align-self: flex-start;
}

.user input {
}

button.user {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #9BC47e;
  color: #D97426;
  font-size: 1em;
  margin: 20px 10px;
  width: 50%;
  outline: none;
}
