@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

//fonts
$font-stack:    'Open Sans', sans-serif;

//colors
// #9BC47E
// #D97426
// #B69C69
// #C37D5B
// #9C7B5C

$primary: #9C7B5C;
$primary-green: #9BC47e;
$primary-orange: #D97426;
$secondary: #C37D5B;
$white: #fff;
$font: #B69C69;
