@import '../../styles/colors.scss';

.app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px auto;
  background-image: url('./sven-scheuermeier-58010.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.app image {
  opacity: .5;
}
