@import '../../styles/colors.scss';

.app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  background-color: rgba(0, 0, 0, .5);
}

.background-wrapper {
  background-image: url('./sven-scheuermeier-58010.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
}


