@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
#header {
  grid-column: 1/6;
  grid-row: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  height: 20vh; }

#header h1 {
  font-size: 3em;
  color: black; }

#header span {
  display: block; }

.farmers {
  color: #D97426;
  margin-left: 5%; }

.market {
  color: #D97426;
  margin-left: 13%; }

.finder {
  color: #D97426;
  margin-left: 21%; }
