@import '../../styles/colors.scss';

#header {
  grid-column: 1/6;
  grid-row: 1;
  font-family: $font-stack;
  font-weight: 800;
  height: 20vh;
}

#header h1 {
  font-size: 3em;
  color: black;
}

#header span {
  display: block;
  
}

.farmers {
  color: $primary-orange;
  margin-left: 5%; 
}

.market {
  color: $primary-orange;
  margin-left: 13%; 
}
 
.finder {
  color: $primary-orange;
  margin-left: 21%; 
}

