@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
.text-card {
  grid-column: 6/13;
  grid-row: 1/3;
  color: #B69C69;
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  border: 2px solid #9BC47e;
  border-radius: 20px;
  margin: 5px; }

.link {
  align-self: flex-end;
  margin-right: 15px;
  margin-top: 5px; }

.name {
  text-align: center;
  font-size: 1.5em;
  color: #D97426;
  margin: 10px 0; }

.info {
  align-self: center;
  text-align: left; }

.info p {
  padding: 10px; }

.info ol {
  padding: 10px; }

#map {
  width: 90%;
  height: 200px;
  align-self: center;
  margin-top: 15px; }
