@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
.control {
  grid-column: 1/6;
  grid-row: 2;
  height: 100vh;
  text-align: center; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }

input {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #9bc47e;
  color: #d97426;
  font-size: 1.5em;
  height: 50px;
  margin: 20px 10px;
  width: 50%;
  text-align: center;
  outline: none; }

input:hover {
  border: 2px solid #9C7B5C; }

input:focus {
  background-color: white; }

input::placeholder {
  color: #d97426; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.control h4 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 20px 10px;
  color: #fff; }

button {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #9bc47e;
  color: #d97426;
  font-size: 1.5em;
  height: 100px;
  margin: 20px 10px;
  width: 50%;
  outline: none; }

button:hover {
  border: 2px solid #9C7B5C; }

button:focus {
  background-color: white; }

.zip {
  width: 30%; }
