@import '../../styles/colors.scss';

.control {
  grid-column: 1/6;
  grid-row: 2;
  height: 80vh;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: $white;
  border-radius: 10px;
  border: 2px solid $primary-orange;
  color: $primary-orange;
  font-size: 1.5em;
  height: 50px;
  margin: 20px 10px;
  width: 50%;
  text-align: center;
  outline:none;
}

input:hover {
  border: 2px solid $primary;
}

input:focus {
  background-color: white;
}

input::placeholder {
  color: $primary-orange;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submit, #create-acct, .submit{
  background-color: $primary-green;
}

.control h4 {
  font-size: 1.2em;
  font-weight: 700;
  color: $font;
  line-height: 1.2em;
}

button {
  background-color: $primary-green;
  border-radius: 10px;
  border: 2px solid $primary-orange;
  color: $primary-orange;
  font-size: 1.5em;
  height: 100px;
  margin: 20px 10px;
  width: 50%;
  outline:none;
}

button:hover {
  border: 2px solid $primary;
}

button:focus {
  background-color: white;
}

